<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar color="primary" class="menubar">
  <button mat-button [routerLink]="''">
    <h2><span class=Title><b>{{title}}</b></span></h2>
  </button>
  <button mat-button [routerLink]="'routes'">
    <mat-icon>navigation</mat-icon>
    <span>Routing</span>
  </button>
  <button mat-button [routerLink]="'heatmap'">
    <mat-icon>map</mat-icon>
    <span>Heat Map</span>
  </button>
  <button mat-button [routerLink]="'bins'">
    <mat-icon>delete</mat-icon>
    <span>Bins</span>
  </button>
  <button mat-button [routerLink]="'fleet'">
    <mat-icon>local_shipping</mat-icon>
    <span>Fleet</span>
  </button>
</mat-toolbar>
