<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<agm-map 
    [latitude]="start_lat" 
    [longitude]="start_lng" 
    [zoom]="start_zoom"
    (mapClick)="mapClicked($event)"
    (mapReady)="onMapLoad($event)">

    <div *ngIf="waypoints.length>0">
        <div *ngFor="let veh of render_waypoints">
            <div *ngFor="let routeset of veh.arr; let i=index">
                <agm-direction
                [origin]="routeset[0].location"
                [destination]="routeset[routeset.length-1].location"
                [waypoints]="routeset">

                </agm-direction>
            </div>

        </div>
    </div>

    <div *ngIf="waypoints.length>0">
        <div *ngFor="let veh of render_waypoints">
        </div>
    </div>
</agm-map>