<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<agm-map 
    [latitude]="start_lat" 
    [longitude]="start_lng" 
    [zoom]="start_zoom"
    (mapClick)="mapClicked($event)"
    (mapReady)="onMapLoad($event)">

    <!-- Uses nested ngFors to give each routeset its own agm-direction renderer object -->
    <div *ngIf="(waypoints.length>0)&&(map)">
        <div *ngFor="let veh of render_waypoints">
            <div *ngFor="let routeset of veh.arr; let i=index">
                <agm-direction
                *ngIf="(selvehid == undefined) || (selvehid == routeset.vehicle_id)"
                [origin]="routeset.start"
                [destination]="routeset.end"
                [waypoints]="routeset.waypoints">

                </agm-direction>
            </div>

        </div>
    </div>
</agm-map>

<!-- Selector for current vehicle -->
<mat-form-field 
appearance="fill" 
*ngIf="showselector"
style="position: absolute; right: 25px; top: 75px; background-color: whitesmoke;">
    <mat-label>selected vehicle</mat-label>
    <mat-select 
    *ngIf="render_waypoints != []"
    [(ngModel)]="selvehid" 
    name="Sel_veh_selector">
      <mat-option 
      *ngFor="let veh of render_waypoints; let j=index" 
      [value]="veh.arr[0].vehicle_id">
        {{j}}
      </mat-option>
    </mat-select>
</mat-form-field>
