<app-mainmenu></app-mainmenu>

<h1><span>This is the base commit for BinRouter.</span></h1>
<h2>Created by FIT3162 Team 14 2020: </h2>
<table style="margin: auto; text-align:left; margin-left: 15px">
  <tr>
    <th><b>Rithesh Jayaram:</b></th>
    <th>Frontend Developer, Systems Admin</th>
  </tr>
  <tr>
    <th><b>Yisong Yu:</b></th> 
    <th>Project Manager, Database Designer, Backend Developer</th>
  </tr>
  <tr>
    <th><b>Anthony Grainger:</b></th> 
    <th>Algorithm Designer, Database Admin</th>
  </tr>
</table>
