<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<agm-map 
    [latitude]="start_lat" 
    [longitude]="start_lng" 
    [zoom]="start_zoom"
    (mapClick)="mapClicked($event)">

    <agm-marker-cluster 
        [averageCenter]=true 
        [imagePath]="'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'"
    >
        <agm-marker
            *ngFor="let m of markers; let i=index"
            (markerClick)="clickedMarker(i)"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [label]="m.label"
            [markerDraggable]="m.draggable">
        </agm-marker>
    </agm-marker-cluster>

</agm-map>

<div class=editmenu>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Bin Manager</mat-card-title>
            <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="selbin">
                <h2 style="padding-left: 15px;">Selected Bin ID: {{selbin.serial}}</h2>
                
                <mat-form-field appearance="outline">
                    <mat-label>Latitude</mat-label>
                    <input matInput [(ngModel)]="selmarker.lat" placeholder="Lat">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Longitude</mat-label>
                    <input matInput [(ngModel)]="selmarker.lng" placeholder="Lng">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <textarea matInput [(ngModel)]="selbin.address"></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Bin Capacity</mat-label>
                    <input matInput type="number" [(ngModel)]="selbin.capacity" min="1" max="256">
                    <span matSuffix>Litre(s)</span>
                </mat-form-field>
                <br>
                <mat-checkbox [(ngModel)]="selbin.is_smart" [checked]="selbin.is_smart">Smart Bin</mat-checkbox>
                <br>
                <mat-checkbox [(ngModel)]="selmarker.draggable" [checked]="selmarker.draggable">Draggable Marker</mat-checkbox>
                <br><br>
                <div *ngIf="selbin.is_smart">
                    <mat-form-field appearance="fill">
                        <mat-label>Bin Fullness (debug)</mat-label>
                        <input matInput type="number" [(ngModel)]="selbin.fullness" min="1" max="100">
                        <span matSuffix>%</span>
                    </mat-form-field>
                    <br>
                    <mat-progress-bar
                        class="example-margin"
                        [color]='accent'
                        [mode]='determinate'
                        [value]="selbin.fullness">
                    </mat-progress-bar>
                    <span style="padding-left: 15px;">Fullness: {{selbin.fullness}}%</span>
                </div>
            </div>
            <div *ngIf="!(selbin)"></div>
        </mat-card-content>
    </mat-card>
</div>