<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<agm-map 
    [latitude]="start_lat" 
    [longitude]="start_lng" 
    [zoom]="start_zoom"
    (mapClick)="mapClicked($event)">

    <!-- Clusterer for bin markers wraps bins -->
    <agm-marker-cluster 
        [imagePath]="'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'"
        [averageCenter]=true>
        <!-- Iterates all bins, 1 way bind of marker coords to bin coords -->
        <agm-marker
            *ngFor="let bin of all_bins; let i=index"
            (markerClick)="clickedMarker(i)"
            [latitude]="bin[0].lat"
            [longitude]="bin[0].lng"
            (dragEnd)="draggedMarker(Longitude)">
        </agm-marker>
    </agm-marker-cluster>

</agm-map>

<!-- Menu on RHS of screen -->
<div class=editmenu>
    <mat-card>

        <!-- Button to submit changes to the backend for validation -->
        <button mat-mini-fab 
        color="primary"
        class="submitbutton"
        (click)="submitChanges()">
            <mat-icon>done_all</mat-icon>
        </button>

        <!-- Button to create a new bin, spawns at coord in the CBD -->
        <button mat-mini-fab 
            color="accent"
            class="newbutton"
            (click)="binAdd()">
                <mat-icon>add</mat-icon>
        </button>

        <!-- Header contains info about bins currently loaded -->
        <mat-card-header>
            <mat-card-title>Bin Manager</mat-card-title>
            <mat-card-subtitle>
                {{all_bins.length}} bin(s) - {{add_bins.length}} created, {{del_bins.length}} deleted<br>

            </mat-card-subtitle>
        </mat-card-header>
        <!-- Main editor body - only displays if a bin is selected, see subdivs-->
        <mat-card-content>
            <div *ngIf="selbin">

                <!-- Slightly different editor with read-only fields for smart-bins -->
                <div *ngIf="selbin[0].is_smart">
                    <h2 style="padding-left: 15px;">Smart Bin ID: {{selbin[0].smartSerial}}</h2>
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Latitude</mat-label>
                        <input matInput 
                        readonly="true"
                        [value]="selbin[0].lat">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Longitude</mat-label>
                        <input matInput 
                        readonly="true"
                        [value]="selbin[0].lng">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Address</mat-label>
                        <textarea 
                        [mat-autosize]="true"
                        matInput 
                        readonly="true"
                        [value]="selbin[0].address"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Bin Capacity</mat-label>
                        <input matInput type="number" 
                        [value]="selbin[0].capacity" 
                        readonly="true">
                        <span matSuffix>Litre(s)</span>
                    </mat-form-field>
                    
                    <br>
                    <mat-progress-bar
                        class="example-margin"
                        [color]='accent'
                        [mode]='determinate'
                        [value]="selbin[0].fullness">
                    </mat-progress-bar>
                    <span style="padding-left: 15px;">Fullness: {{selbin[0].fullness}}%</span>
                </div>

                <!-- Full editor for non-smart ("dumb") bins -->
                <div *ngIf="!selbin[0].is_smart">
                    <h2 style="padding-left: 15px;">Selected Bin is not Smart</h2>
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Latitude</mat-label>
                        <input matInput [(ngModel)]="selbin[0].lat">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Longitude</mat-label>
                        <input matInput [(ngModel)]="selbin[0].lng">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Address</mat-label>
                        <textarea 
                        [mat-autosize]="true"
                        matInput [(ngModel)]="selbin[0].address"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Bin Capacity</mat-label>
                        <input matInput type="number" [(ngModel)]="selbin[0].capacity" min="1" max="256">
                        <span matSuffix>Litre(s)</span>
                    </mat-form-field>
                    <br>
                    
                    <mat-checkbox 
                    [(ngModel)]="picker_active" 
                    [checked]="picker_active"
                    [colour]="primary">
                        Pick New Location
                    </mat-checkbox>  
                    
                    <button mat-raised-button 
                    color="warn"
                    class="newbutton"
                    style="right: 120px;"
                    (click)="binDelete(selbin)">
                        Delete
                    </button>
                    
                </div>

            </div>
            <!-- Placeholder when no bin is selected -->
            <div *ngIf="!(selbin)" style="position: relative; left: 16px;">
                Pick a bin to begin editing
            </div>
        </mat-card-content>
    </mat-card>
</div>