agm-map {
    height: calc(100vh - 50px);
    width: calc(100vw - 400px);
    float: left;
}

.editmenu {
    height: calc(100vh - 50px);
    width: 400px;
    float: right;
    background-color: lightgrey;
}