app-view-routes {
    height: calc(100vh - 80px);
    width: calc(100vw - 401px);
    float: left;
}

mat-list-item {
    float: left;
}

.vehiclelist {
    height: 100%;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0%;
    top: 0;
}

.editmenu {
    height: calc(100vh - 50px);
    width: 400px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    background-color: lightgrey;
}

.editmenu_card {
    height: inherit;
    width: inherit;
}

.infobar {
    height: 80px;
    width: calc(100vw - 401px);
    position: fixed;
    bottom: 0px;
}

.infobar_card {
    height: 80px;
}