@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');

app-view-routes {
    height: calc(100vh - 65px);
    width: calc(100vw - 401px);
    float: left;
}

mat-list-item {
    float: left;
}

.vehiclelist {
    max-height: calc(100vh - 132px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 0%;
    top: 0;
}

.editmenu {
    height: calc(100vh - 50px);
    width: 400px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    background-color: lightgrey;
}

.editmenu_card {
    position: relative;
    height: 100%;
    width: 400px;
}

.infobar {
    height: 65px;
    width: calc(100vw - 401px);
    position: fixed;
    bottom: 0px;
    overflow: hidden;
}

.infobar_card {
    height: 65px;
    min-width: 900px;
}

.infobar1 {
    float: left; 
    width: 250px;
    position: relative;
    bottom: 12px;
}

.infobar2 {
    position: relative; 
    float: left;
    bottom: 8px;
}

.regotxt {
    font-family: 'DM Mono';
}

.regotxt_main {
    font-family: 'DM Mono';
    font-size: medium;
    position: relative;
    left: 8px;
}

.submitbutton {
    position: absolute;
    right: 60px;
}

.clicktext {
    position: relative;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
    cursor: crosshair;
    scale: 2;
    right: 20px;
}

