<app-view-routes></app-view-routes>

<div class=editmenu>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Fleet Manager</mat-card-title>
            <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list class=vehiclelist>
                <mat-list-item *ngFor="let vehicle of all_fleet">
                    <div mat-line><b>{{vehicle.rego}}</b></div>
                    <div mat-line>Cap: {{vehicle.capacity}} </div>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>