<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Map is passthrough to routes view -->
<app-view-routes
[selvehid]="(selveh != undefined) ? selveh[0]._id : undefined"
[showselector]="false">
</app-view-routes>

<!-- Menu on the RHS of screen -->
<div class=editmenu>
    <mat-card class=editmenu_card>

        <button mat-mini-fab 
        color="primary"
        class="submitbutton"
        (click)="submitChanges()">
            <mat-icon>done_all</mat-icon>
        </button>

        <!-- Add vehicle button shows regardless of selection state -->
        <button mat-mini-fab 
        color="accent"
        style="position: absolute; bottom: 50px; right: 60px;"
        (click)="vehicleAdd()">
            <mat-icon>add</mat-icon>
        </button>

        <mat-card-header>
            
            <mat-card-title>Fleet Manager</mat-card-title>

            <mat-card-subtitle *ngIf="all_fleet.length>0">
                {{all_fleet.length}} vehicle(s) - {{add_vehicles.length}} created, {{del_vehicles.length}} deleted
            </mat-card-subtitle>

            <mat-card-subtitle *ngIf="all_fleet.length<1">
                No vehicles currently loaded <br>(or all deleted)
            </mat-card-subtitle>
        
        </mat-card-header>

            <mat-list class=vehiclelist>
                <div *ngIf="all_fleet.length === 0">
                    <button 
                    mat-stroked-button color="warn"
                    (click)="reloadPage()">
                        Click to Refresh
                    </button>
                </div>
                <mat-list-item 
                matRipple [matRippleColor]="primary" 
                [disabled]="vehicle[1].selected"
                *ngFor="let vehicle of all_fleet"
                style="cursor: pointer;"
                (click)="vehicleClick(vehicle)">
                    <mat-icon>{{veh_icons[vehicle[0].icon]}}</mat-icon>
                    <div style="padding-left: 4px;">
                        <div mat-line><span class=regotxt>{{vehicle[0].rego}}</span></div>
                        <div mat-line>Cap: {{vehicle[0].capacity}} </div>
                    </div>
                </mat-list-item>
            </mat-list>

    </mat-card>
</div>

<!-- Editor bar at bottom of screen -->
<div class=infobar>
    <mat-card class=infobar_card>
        <mat-card-header>
            
            <!-- Placeholder when no vehicle is selected -->
            <mat-card-title *ngIf="!selveh">
                <mat-icon style="top: 4px; position: relative;">
                    view_carousel
                </mat-icon>
                No vehicle selected
            </mat-card-title>

            <!-- Vehicle editor, show on selection of a vehicle - 2-way binds -->
            <div *ngIf="selveh">
            <div class=infobar1>
                <mat-card-title style="overflow: visible;">
                    <!-- Clicking icon cycles it without TS loopback needed -->
                    <mat-icon 
                    (click)="selveh[0].icon = (selveh[0].icon+1)%12"
                    unselectable="on"
                    onselectstart="return false;"
                    onselectstart="return false;" 
                    onmousedown="return false;"
                    class="clicktext">
                        {{veh_icons[selveh[0].icon]}}
                    </mat-icon>
                    <mat-form-field appearance="fill" class="regotxt_main">
                        <mat-label>VIN</mat-label>
                        <input matInput [(ngModel)]="selveh[0].rego">
                    </mat-form-field>
                </mat-card-title>
            </div>
            <div class=infobar2>
                <mat-card-content>

                    <mat-form-field appearance="fill">
                        <mat-label>home depot</mat-label>
                        <mat-select [(ngModel)]="selveh[0].homeDepot">
                          <mat-option *ngFor="let depot of all_depots" [value]="depot.id">
                            {{depot.address}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field
                    style="padding-left: 20px;">
                        <mat-label>capacity</mat-label>
                        <input matInput 
                        type="number"
                        min="0"
                        max="999999999"
                        step="5"
                        [(ngModel)]="selveh[0].capacity">
                    </mat-form-field>
                    
                    <mat-slide-toggle 
                    [(ngModel)]="selveh[0].available"
                    color="primary"
                    style="padding-left: 20px; bottom: 4px;">
                        available
                    </mat-slide-toggle>

                    <button mat-raised-button 
                    color="warn"
                    style="bottom: 6px; left: 20px"
                    (click)="vehicleDelete(selveh)">
                        Delete
                    </button>

                </mat-card-content>
            </div>
            </div>
        </mat-card-header>
    
    </mat-card>
</div>