app-view-routes {
    height: calc(100vh - 50px - 120px);
    width: calc(100vw - 401px);
    float: left;
}

mat-card {
    height: calc(100vh - 50px);
    width: 400px;
    position: fixed;
}

.vehiclelist {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.editmenu {
    height: calc(100vh - 50px);
    width: 400px;
    top: 0px;
    float: right;
    position: relative;
    background-color: lightgrey;
}