<p>test code works!</p>

<h2></h2>
<ul class=heroes>
    <li *ngFor="let dumpster of trash_bins" (click)="onSelect(dumpster)">
        <span class="badge">{{dumpster.id}}</span> {{dumpster.name}}
    </li>
</ul>

<p>What is my dumpster?</p>
<h2>MAIN DUMPSTER: {{dumpster.name | uppercase}} <i>[Wowow was that in all caps :O]</i></h2>
<div><span>id: </span>{{dumpster.id}}</div>
<div><span>Does him like chicken nuggies?: </span>{{dumpster.likes_chicken_tendies}}</div>

<div>
    <label>
        name: <input [(ngModel)]="dumpster.name" placeholder="name"/>
    </label>
</div>